@charset "utf-8";
/* CSS Document */

body{
	background-color:#fff;
	margin:0;
	padding:0;
}

/*  cara manggil class*/

.wrapper{
	width:80%;
	margin:auto;
}

#welcome{
	width:50%;
}

#header
{	
	background:url(header.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	height:450px;
	margin:0;
	padding:0;
}

#body
{	
	height:400px;
	margin:0;
	padding:0;
	background-color:white;
}

#body2
{	
	background:url(B2.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	height:400px;
	margin:0;
	padding:0;
}

#content
{
	width:50%;
	float:left;
}

#content2
{
	width:80%;
	float:right;
	background-color:white;
}

#contact
{	
	height:400px;
	margin:0;
	padding:0;
	background-color:gray;
}