/*before login*/
.admin-body{
	background: #ffca40;
}
.splash-image{
	background-image: url('../assets/background.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: -10;
}

.copyright{
	color: #fff;
    width: 100%;
    padding: 15px;
    background: #33B0D6;
    font-family: "Varela round";
}

/*after login*/
.content-container{
	min-height: 400px;
}

footer{

}
.admin-body-logged{
	background: #fff;
}
.splash-image-logged{
	background-image: url('../assets/background-white-overlay.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: -10;
}

.splash-image-footer{
	background-image: url('../assets/background-white-overlay.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    height: 150px;
    width: 100%;

    z-index: -10;
}

.login-row{
	margin-top:20px;
}

.login-panel{

	padding:10px;
	border: 0px solid transparent;
	box-shadow: 1px -2px 22px 5px rgba(3, 3, 3, 0.09);
    background: linear-gradient(rgba(255, 255, 255, 0.31),rgba(252, 169, 22, 0.42));
}
.inner-panel{
	border-radius: 4px;
	background:#fff;
}

.logo{    
	width: 100%;
    max-width: 450px;
    height: auto;
    margin-top:15px;
}

.panel-heading{
	padding: 15px 17px;
	font-family: "varela round";
    font-weight: bold;
    font-size: 22px;
}