/*
Color documentations: 
#ffffff white
#ffca40 Primary Yellow
#d3b139 Secondary Yellow
#fcab46 Orange
#009ccc Light Blue
#a0a0a0 Secondary Grey
#404145 Primary Grey
*/

/*stefan tolong update file ini untuk tuesday, march 1st 2016*/

/*main template*/
body{
  word-wrap: break-word;
}

a,a:hover{
  text-decoration: none;
}
/*fonts*/
.text-small{
  font-size: 10px;
}

.form-tips-text{
  font-size: 12px;
  color:#999;
}

/*components*/
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    input[type=number] {
        -moz-appearance:textfield;
    }

    .nav li:hover,
    .nav li:active{
    background-color:#d3b139 ;
    }

    .select-pagination{
        height: 40px;
        width: 92px;
        margin: 20px;
    }
    .pagination-container{
      min-height: 80px;
    }


    .main-divider{
        border: 4px solid #fcab46;
        border-radius: 5px;
        margin: 0 15px 10px 15px;
    }

    .vertical-padding10{
    	padding-top:10px;
      padding-bottom:10px;
    }

    .vertical-padding30{
    	padding-top:30px;
      padding-bottom:30px;
    }


    .caption{
    	padding-top:10px;
      padding-bottom:20px;
    }

    .navbar-default {
    	background-color: #ffca40 ;
    }
    .navbar-default .navbar-brand {
      color: #404145;

    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
      color: #404145;
      background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
      color: #404145;
      background-color: transparent;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
      color: #404145;
      background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav > li > a {
      color: #404145;
    }

    .menuthumbbutton{
         width: 80%;
        padding: 30px;
        background-color: #F7F7F7;
        border: 0px solid #DDDDDD;
        border-radius: 10px;
        min-height: 140px;
        box-shadow: 1px 1px 7px #C4C4C4;
        color: #FF9119;
    }

    .req{
      color:red;
    }

    /*search bar*/
      .left-inner-addon {
      position: relative;
      }
      .left-inner-addon input {
          padding-left: 30px;    
      }
      .left-inner-addon i {
          position: absolute;
          padding: 10px 12px;
          pointer-events: none;
      }

      .right-inner-addon {
          position: relative;
      }
      .right-inner-addon input {
          padding-right: 30px;    
      }
      .right-inner-addon i {
          position: absolute;
          right: 0px;
          padding: 10px 12px;
          pointer-events: none;
      }

/* css for image displays*/

.imagepane{
  margin-bottom: 30px;
}

/* vacationsite css*/
.tagwrap{
    border:1px solid #EAB11B;
    border-radius:3px;
    background-color:#ffca40;
    padding:6px;
    margin:10px;
    font-size:0.8em;
  }

  .linear-tagwrap{
    display: inline-block;
    border:1px solid #EAB11B;
    border-radius:3px;
    background-color:#ffca40;
    padding:6px;
    margin-top: 10px;
    margin-right: 10px;
    font-size:0.8em;
    min-width: 50px;
  }

  .expired-tagwrap{
    display: inline-block;
    border: 1px solid #A2A2A2;
    color: rgb(148, 148, 148);
    border-radius: 3px;
    background-color: #D3D3D3;
    padding: 6px;
    margin-right: 10px;
    font-size: 0.8em;
    min-width: 50px;
  }



  .labelchoice:hover {
      background-color: #A77E13;
      cursor: pointer;
  }

  .labelchoice {
      border: 1px solid #EAB11B;
      border-radius: 3px;
      background-color: #ffca40;
      padding: 6px;
      margin: 11px;
      font-size: 0.8em;
      width: 77%;
      height: 105px;
  }



/*vacation packages*/
.vacation-package-single{
    padding: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 1px 12px #F4F4F4;
    margin-bottom: 15px;
}
.vacation-package-single:hover{
  background: #f4f4f4;
}

